*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.banner{
  background-image: url("../assets/hero-bg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.audio{
  grid-area: audio;
}
.mobile{
  grid-area: mobile;
}
.global{
  grid-area: global;
}
.zap{
  grid-area: zap;
}
.resources{
  grid-area: resources;
}
.why-cards{
  display: grid;
  grid-template-areas:
  "audio mobile mobile"
  "audio global global"
  "zap zap resources";
  gap:30px;
}
.host{
  display:flex;
}
footer{
  background-image: url("../assets/footer-bg.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}
.hero-circle{
  position:relative;
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1 / 1;
  
}
.hero-cirle-logos{
  overflow:hidden;
  border-radius:50%;
  position:relative;
  translate:3%;
}
.hero-circle .microphone{
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 35%;
}
.hero-circle div p{
  box-shadow: 0px 0px 15px 0px #00FF88;
  
}
.hero-circle div{
  position: absolute;
  top:5%;
  right:5%;
}
.ripple{
  position:absolute;
  border-radius:50%;
  width:50%;
  height:50%;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background: rgba(255,255,255,0.3);
  animation: ripple-animation 2s ease-out infinite;
}
.ripple:nth-child(2){
  animation-delay:1s;
}
.mail-button:hover{
  background-color:#00FF88;
  color:white;
  cursor:pointer;
}
.spotify-button:hover{
  cursor:pointer;
}
@keyframes ripple-animation{
  0%{
    transform: translate(-50%, -50%) scale(0);
    opacity:0.3;
  }
  100%{
    transform: translate(-50%,-50%) scale(4);
    opacity:0;
  }
}
@media screen and (max-width: 576px) {
  .why-cards{
    grid-template-areas:
    "audio"
    "mobile"
    "global"
    "zap"
    "resources";
  }
  .host{
    flex-direction: column;
  }
}