.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.banner{
  background-image: url("../assets/hero-bg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.audio{
  grid-area: audio;
}
.mobile{
  grid-area: mobile;
}
.global{
  grid-area: global;
}
.zap{
  grid-area: zap;
}
.resources{
  grid-area: resources;
}
.why-cards{
  display: grid;
  grid-template-areas:
  "audio mobile mobile"
  "audio global global"
  "zap zap resources";
  gap:30px;
}
@media screen and (max-width: 576px) {
  .why-cards{
    grid-template-areas:
    "audio"
    "mobile"
    "global"
    "zap"
    "resources";
  }
}